In [2]:
import chardet
import matplotlib.pyplot as plt
import pandas as pd
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
# Make plotly work with Jupyter notebook
init_notebook_mode(connected=True)
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/malgun.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [10]:

korail_customer_2019 = pd.read_csv('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv', chunksize= 10000)

In [8]:
tp = pd.concat(korail_customer_2019, ignore_index=True)

In [9]:
korail_customer_2019

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
0,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900211,익산,U,943,2,무궁화호,12
1,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
2,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900279,여수엑스포,D,1040,2,무궁화호,1
3,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900276,여천,D,1040,2,무궁화호,3
4,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [17]:


df = pd.read_csv('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv', chunksize= 10000)

In [19]:
total_len = 0
for chunk in df:
    # Do some preprocessing to reduce the memory size of each chunk
    total_len += len(chunk)
tp = pd.read_csv('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv', iterator=True, chunksize=10000)  # gives TextFileReader
df = pd.concat(tp, ignore_index=True)

In [20]:

df

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
0,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900211,익산,U,943,2,무궁화호,12
1,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
2,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900279,여수엑스포,D,1040,2,무궁화호,1
3,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900276,여천,D,1040,2,무궁화호,3
4,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [15]:
import numpy as np


#꿀팁 결측치를 사전에 원하는 값으로 변경하면 메모리 감소

In [ ]:
def convertor(val) :
    if val == np.nan :
        return -9999
    return val

df = pd.read_csv("./../../Data/Rain/weatherAUS.csv",
                 usecols=use_col,
                 converters={"Evaporation": convertor},
                 dtype={"WindGustDir": "category",
                        "Evaporation" : "float16",
                       })

In [ ]:
del df

In [28]:
chunk_size = 10000

In [29]:
import pandas as pd
# 10000개씩 읽는 것이지 처음부터 10000개를 저장하는 것은 아니다
cnt =0
tp = pd.read_csv('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv', iterator=True, chunksize=10000)  # gives T
df = pd.concat([chunk for chunk in tp])

TypeError: 'iterator' is an invalid keyword argument for open()

In [55]:
df = pd.DataFrame(index=[], columns= ['운행일자','운행요일','구분','출발시간대','성별','연령대','고객등급_현재','출발역코드','출발역명','도착역코드','도착역명','상하행구분','노선','역무열차종코드','역무열차종','인원'])

In [56]:
df.append()

Empty DataFrame
Columns: [운행일자, 운행요일, 구분, 출발시간대, 성별, 연령대, 고객등급_현재, 출발역코드, 출발역명, 도착역코드, 도착역명, 상하행구분, 노선, 역무열차종코드, 역무열차종, 인원]
Index: []

In [61]:

chunksize=16
df =[]

cnt= 0


with open('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv',encoding='utf-8')  as f:
    while True:
        if cnt ==0 :

            df = pd.DataFrame(index=[], columns= ['운행일자','운행요일','구분','출발시간대','성별','연령대','고객등급_현재','출발역코드','출발역명','도착역코드','도착역명','상하행구분','노선','역무열차종코드','역무열차종','인원'])
            continue
        df.append(pd.Series(f.read(chunk_size)),ignore_index=True)
        cnt += 16
        if cnt == 1600:
            break

KeyboardInterrupt:

In [76]:
df_chunk = pd.read_csv('C:/Users/tjdal/PycharmProjects/Dacon/'
                                   '플랫폼통합경진대회 데이터/KORAIL)플랫폼통합경진대회 데이터/'
                                   '고객 특성별 철도서비스 이용정보(강릉,목포,전주)_2019.csv', iterator=True, chunksize=10000)  # gives

In [69]:
df_chunk

ValueError: No objects to concatenate

In [77]:
chunk_list =[]
chunk_cnt = 0
# Each chunk is in df format
for chunk in df_chunk:
    # perform data filtering
    #chunk_filter = chunk_preprocessing(chunk)

    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)
    chunk_cnt += 1
    if chunk_cnt > 50000:
        break
# concat the list into dataframe
df_concat = pd.concat(chunk_list)

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
0,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900211,익산,U,943,2,무궁화호,12
1,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
2,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900279,여수엑스포,D,1040,2,무궁화호,1
3,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900276,여천,D,1040,2,무궁화호,3
4,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [78]:
df_concat

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
0,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900211,익산,U,943,2,무궁화호,12
1,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
2,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900279,여수엑스포,D,1040,2,무궁화호,1
3,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900276,여천,D,1040,2,무궁화호,3
4,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [ ]:
pd.DataFrame(index=[],columns=[df[0]])

In [27]:
chunk

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
640000,20190530,목,회원,22.0,M,20~29세,F,3900271,순천,3900248,전주,U,1786,7,KTX-산천,1
640001,20190530,목,회원,22.0,M,20~29세,F,3900279,여수엑스포,3900248,전주,U,943,2,무궁화호,2
640002,20190530,목,회원,22.0,M,20~29세,F,3900388,청량리,3900587,강릉,D,2041,10,KTX-호남,1
640003,20190530,목,회원,22.0,M,30~39세,B,3900023,서울,3900587,강릉,D,2041,10,KTX-호남,1
640004,20190530,목,회원,22.0,M,30~39세,B,3900388,청량리,3900587,강릉,D,2041,10,KTX-호남,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [24]:
df

,운행일자,운행요일,구분,출발시간대,성별,연령대,고객등급_현재,출발역코드,출발역명,도착역코드,도착역명,상하행구분,노선,역무열차종코드,역무열차종,인원
0,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900211,익산,U,943,2,무궁화호,12
1,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
2,20190301,금,비회원,0.0,NaN,기타,NaN,3900248,전주,3900279,여수엑스포,D,1040,2,무궁화호,1
3,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900276,여천,D,1040,2,무궁화호,3
4,20190301,금,비회원,2.0,NaN,기타,NaN,3900248,전주,3900259,남원,D,1040,2,무궁화호,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644268,20190531,금,회원,23.0,M,50~59세,F,3900884,천안아산,3900242,목포,D,1773,0,KTX,2
644269,20190531,금,회원,23.0,M,60~64세,F,3900025,용산,3900242,목포,D,1563,2,무궁화호,2
644270,20190531,금,회원,23.0,M,60~64세,F,3900130,양평,3900587,강릉,D,1963,2,무궁화호,1
644271,20190531,금,회원,23.0,M,65세이상,A,3900030,영등포,3900242,목포,D,1563,2,무궁화호,1
644272,20190531,금,회원,23.0,M,65세이상,F,3900030,영등포,3900242,목포,D,1563,2,무궁화호,2

In [25]:
df.shape

(644273, 16)